    <!-- About -->
    <section class="about">
        <div class="container">
            <div class="about-head has-text-centered">
                <img data-aos="fade-in" src="img/icon/daun.png" width="30px" alt="daun">
                <h1 class="title is-inline-block" data-aos="fade-in">Tentang Kami</h1>
                <p class="has-text-justified">TeaLinuxOS adalah distro Linux turunan Ubuntu yang dikembangkan oleh Dinus Open Source Community (DOSCOM) dan kawan-kawan yang berorientasi pemrograman. Dengan menghadirkan filosofi, “Nikmatnya sebuah racikan”, TeaLinuxOS dikembangkan secara terbuka dan bersama-sama untuk menghasilkan distro Linux pemrograman untuk dunia pendidikan.</p>
            </div>
            <div class="about-body">
                <div class="columns">
                    <div class="column center has-text-centered">
                        <img src="img/maskot.png" width="90%" alt="maskot">
                    </div>
                    <div class="column flex-column">
                        <article class="media">
                            <figure class="media-left">
                                <p><i class="far fa-3x fa-circle"></i></p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title">Anti-piracy</h1>
                                    <p class="subtitle has-text-justified">The opensource has come true, this is the time to revenge.</p>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <figure class="media-left">
                                <p><i class="far fa-3x fa-circle"></i></p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title">High Quality</h1>
                                    <p class="subtitle has-text-justified">Berangkat dari dukungan dari semua pihak sistem operasi ini mengalami penyempurnaan mejadi sistem operasi yang stabil dan berkualitas.</p>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <figure class="media-left">
                                <p><i class="far fa-3x fa-circle"></i></p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title">Community</h1>
                                    <p class="subtitle has-text-justified">Dukungan kuat dari forum dan komunitas dunia virtual maupun komunitas riil menjadikan sistem operasi ini berkembang cepat.</p>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <figure class="media-left">
                                <p><i class="far fa-3x fa-circle"></i></p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title">Nutrition</h1>
                                    <p class="subtitle has-text-justified">Dukungan yang kuat dan tersedianya repository yang lengkap menjadikan sistem operasi ini penuh nutrisi.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>