    <section class="fitur">
        <div class="container">
            <div class="fitur-head has-text-centered">
                <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.iconDaun }}" width="30px" alt="daun">
                <h1 class="title is-inline-block">Fitur</h1>
            </div>
            <div class="fitur-body">
                <!-- Fitur Tea Module Installer -->
                <div class="columns is-variable is-8">
                    <div class="column">
                        <h1 class="title">Tea Module Installer</h1>
                        <p class="has-text-justified">Tea Module Installer adalah aplikasi yang memudahkan pengguna memasang aplikasi dengan mudah, cepat dan offline. Cukup pasang, hanya yang kamu butuhkan.</p>
                    </div>
                    <div class="column">
                        <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.mockup }}" width="100%" alt="Tea Module Installer">
                    </div>
                </div>
                <!-- Fitur Tea Theme Switcher -->
                <div class="columns is-variable is-8">
                    <div class="column">
                        <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.mockup }}" width="100%" alt="Tea Theme Switcher">
                    </div>
                    <div class="column">
                        <h1 class="title">Tea Theme Switcher</h1>
                        <p class="has-text-justified">Beralih tema dengan sekali klik! Secara bawaan, TeaLinuxOS memiliki dua mode tema, Developer mode (Dark) dan Normal mode (Light). Dengan Theme Switcher ini bergonta-ganti tema semakin cepat dan mudah.</p>
                    </div>
                </div>
                <!-- Fitur Lapor Hama -->
                <div class="columns is-variable is-8">
                    <div class="column">
                        <h1 class="title">Fitur Lapor Hama</h1>
                        <p class="has-text-justified">Lapor Hama merupakan aplikasi untuk pelaporan hama TeaLinuxOS secara umum. Pelaporan menggunakan fitur Issues yang ada pada Github. Penggunaan Github karena memudahkan pengembang & pengguna dalam menyelesaikan & melaporkan suatu hama.</p>
                    </div>
                    <div class="column">
                        <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.mockup }}" width="100%" alt="Lapor Hama">
                    </div>
                </div>
            </div>
        </div>
    </section>