
    <ul>
        <li><a href="#">Kenalan dengan TealinuxOS</a>
            <ul>
                <li><a href="#">Apa itu Tealinuxos?</a></li>
                <li><a href="#">Resep TealinuxOS</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Instalasi TealinuxOS</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Panduan Instalasi TealinuxOS</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Migration and Upgrade</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Migrating from Windows</a></li>
                <li><a href="#">How to upgrade</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Pengenalan Dekstop Environment</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Panel</a></li>
                <li><a href="#">Desktop</a></li>
                <li><a href="#">File dan Direktori</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Pengaturan dan Pilihan</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Pengubahan Menu</a></li>
                <li><a href="#">Pengubahan Informasi Personal</a></li>
                <li><a href="#">Pengubahan Tampilan</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Pengenalan Aplikasi Bawaan</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Aplikasi Multimedia</a></li>
                <li><a href="#">Aplikasi Perkantoran</a></li>
                <li><a href="#">Browser</a></li>
                <li><a href="#">Sistem</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Koneksi Jaringan dan Internet</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Menyambung dan Memutuskan jaringan</a></li>
                <li><a href="#">Konfigurasi koneksi</a></li>
                <li><a href="#">Berbagi koneksi ke komputer lain</a></li>
                <li><a href="#">Troubleshooting pada jaringan</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Print dan Scan</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Penggunaan Printer</a></li>
                <li><a href="#">Penggunaan Scanner</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Mengelola Aplikasi Terinstall</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Aplikasi Multimedia</a></li>
                <li><a href="#">Aplikasi Perkantoran</a></li>
                <li><a href="#">Browser</a></li>
                <li><a href="#">Sistem</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Menjaga Keamanan Komputer</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Tips Menjaga Keamanan Komputer</a></li>
                <li><a href="#">Uninstall Software</a></li>
                <li><a href="#">Menambah Repository</a></li>
                <li><a href="#">Menginstall melalui Tealinuxos IDE Installer</a></li>
                <li><a href="#">Mengupdate software</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Perangkat Keras</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Pembatasan Beberapa Driver</a></li>
                <li><a href="#">Disk dan Partition</a></li>
                <li><a href="#">Laptop</a></li>
                <li><a href="#">Suspend dan Hibernate</a></li>
                <li><a href="#">Mouse dan keyboard</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Tugas-tugas administratif</a>
            <ul class="sidebar-submenu">
                <li><a href="#">User dan Grub</a></li>
            </ul>
        </li>
        <li class="title-menu"><a href="#">Perintah Baris</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Daftar Perintah Umum</a></li>
                <li><a href="#">Menjalankan Perintah dengan Hak </a></li>
                <li><a href="#">Administrasi</a></li>
            </ul>
        </li>
    </ul>

