

<!-- Navbar -->
    <nav id="nav" class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="{{ $.Site.BaseURL }}" class="navbar-item has-text-weight-bold">
                    <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.logo }}" alt="logo-tealinux">
                    TealinuxOS
                </a>
                <a role="button" class="navbar-burger" data-target="sidebar" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/dokumentasi/">Dokumentasi</a>
                    <a class="navbar-item" href="/kontribusi/">Kontribusi</a>
                    <a class="navbar-item" target="blank" href="https://medium.com/tealinuxos">Blog</a>
                    <span class="navbar-item">
                        <input class="input is-rounded" type="text">
                        <p class="center"><i class="fas fa-search align-items-center"></i></p>
                        <!-- <form action="">
                            <input type="search">
                            <i class="fa fa-search"></i>
                        </form> -->
                    </span>
                </div>
            </div>
        </div>
    </nav>