<div class="pagination">
    <nav>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        {{ if .Paginator.HasPrev }}
        <a class="btn newer" href="{{.Paginator.Prev.URL}}" style="margin-right: 500px;">Prev</a>
        {{ end }}
    {{ end }}
        <!-- <p class="counter"> {{ .Paginator.PageNumber}}</p> -->
    
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        {{ if .Paginator.HasNext }}
        <a class="btn older" href="{{.Paginator.Next.URL}}">Next</a>
        {{ end }}
    {{ end }}
    </nav>
</div>
    