<div class="pagination">
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        {{ if .Paginator.HasPrev }}
            <a class="previous" href="{{.Paginator.Prev.URL}}"><i class="fas fa-3x fa-arrow-circle-left"></i></a>
        {{ end }}
    {{ end }}
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        {{ if .Paginator.HasNext }}
            <a class="next" href="{{.Paginator.Next.URL}}"><i class="fas fa-3x fa-arrow-circle-right"></i></a>
        {{ end }}
    {{ end }}
</div>
    