    <section id="resep-tealinux" class="resep-tealinux">
        <div class="container">
            <!-- <div class="resep-head">
                <h1 class="title has-text-centered">RESEP TEA LINUX</h1>
            </div> -->
            <div class="resep-body">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column">
                                <h1 class="title is-size-4">Resep Tea Linux</h1>
                                <span class="line"></span>
                                <table>
                                    <tr>
                                        <!-- <td class="icon"></td> -->
                                        <td><i class="far fa fa-circle"></i><p class="is-inline-block">Versi</p></td>
                                        <td>: Tea Linux OS XI</td>
                                    </tr>
                                    <tr>
                                        <!-- <td class="icon"></td> -->
                                        <td><i class="far fa fa-circle"></i><p class="is-inline-block">Codename</p></td>
                                        <td>: Stevia</td>
                                    </tr>
                                    <tr>
                                        <td><i class="far fa fa-circle"></i><p class="is-inline-block">Core</p></td>
                                        <td>: Xubuntu 18.04 LTS</td>
                                    </tr>
                                    <tr>
                                        <td><i class="far fa fa-circle"></i><p class="is-inline-block">Desktop Environment</p></td>
                                        <td>: XFCE</td>
                                    </tr>
                                    <tr>
                                        <td><i class="far fa fa-circle"></i><p class="is-inline-block">Software</p></td>
                                        <td>: FOSS</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="column has-text-centered">
                                <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.desktop }}" alt="desktop">
                                <div class="donasi-download">
                                    <a class="button" target="blank" href="https://www.bountysource.com/teams/tealinuxos">DONASI</a>
                                    <a class="button" target="blank" href="http://pinguin.dinus.ac.id/iso/tealinuxos/TealinuxOS-11-amd64.iso">UNDUH</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <footer class="card-footer">
                        <p class="card-footer-item">
                            <span><i class="fas fa-2x fa-arrow-circle-left"></i></span>
                            <span><i class="fas fa-2x fa-arrow-circle-right"></i></span>
                        </p>
                    </footer> -->
                </div>
            </div>
        </div>
    </section>