/* 
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
*/
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
}
body a{
    color: #39c892ff
}
/* Navbar */
/* -------------------------------- */
.navbar{
    background: transparent;
    height: 50px;
    font-size: 18px;
    transition: .5s all ease-in-out;
}
.green{
    height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #39c892ff !important;
    -webkit-box-shadow: 0 7px 6px -6px #777;
       -moz-box-shadow: 0 7px 6px -6px #777;
            box-shadow: 0 7px 6px -6px #777;
    transition: .5s all ease-in-out;
}
.navbar .navbar-menu{
    /* padding: 15px 0; */
}
.navbar .navbar-brand a{
    font-size: 24px !important;
}
.navbar-item img{
    max-height: 38px !important;
}
.navbar .navbar-brand a.navbar-item img{
    margin-right: 7px; 
}
.navbar .navbar-brand a.navbar-item{
    color: #1e3338ff;
}
.navbar .navbar-menu a.navbar-item{
    transition: all 0.3s ease-in-out;
    color: #fff;
}
.navbar .navbar-menu p i.fas{
    color: #4d6469ff;
}
.navbar .navbar-brand a.navbar-item:hover{
    color:none;
}
.navbar .navbar-end a.navbar-item:hover{
    color: #c7dbdbff; 
    background: none;
}
.navbar .navbar-menu .navbar-end .navbar-item p{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 23px;
    cursor: pointer;
    background-color: #fff; 
}
.navbar .navbar-menu .navbar-end .navbar-item input:focus { 
    border-color: #39c892ff;
  }
/* -------------------------------- */

/* Header */
/* -------------------------------- */
#bg-hero {
    background-image: url("../img/hero.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important; 
    background-size: cover !important;
}
.hero{
    background: transparent !important;
}
.hero .hero-body{
    text-align: left;
}
.hero .title{
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
    color: #1e3338ff !important;
}
.hero .subtitle {
    font-family: 'Lato', sans-serif;
    color: #1e3338ff !important;
}
.hero a.button{
    width: 6.5rem;
    height: 3rem;
    margin-top: 16px;
    font-size: 1.25rem;
    color: #fff; 
    background-color: #39c892ff;
    border: none;
    transition: .5s all ease-in-out;
}
.hero a.button:hover{
    color: #39c892ff; 
    border-color: #39c892ff;
    background-color: #385b6bff;
}

/* -------------------------------- */

/* ABOUT */
/* -------------------------------- */
.about .media + .media {
    border: 0;
}
.about{
    padding-bottom: 150px;
}
.about .about-head h1{
    margin-bottom: 50px;
}
.about .about-head p{
    /* font-family: 'Roboto', sans-serif; */
}
.about .about-head{
    padding: 100px 0;
}
.about .about-body .columns .column .media .media-content h1.title{
    font-size: 1.5rem;
}
.about .about-body .columns{
    margin: 0;
}
.about .about-body .columns .column:last-child{
    padding: 35px 0;
}
.about .about-body .columns .flex-column{
    justify-content: space-between;
}
.about .media h1.title{
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 28px; 
}
.about .media figure.media-left{
    width: 64px;
    height: 64px;
    background-color: #e7ededff;
    padding: 18px;
    border-radius: 50%;
    border: 1px solid #39c892ff;
    transition: 0.5s all;
}
.about .media figure.media-left:hover{
    background-color: #385b6bff;
}

.about .media .media-content .content h1{
    font-weight: 600;
    margin-top: 0;
}
.about .media .media-content .content p{
    font-size: 1rem;
    /* font-family: 'Roboto', sans-serif; */
}
/* -------------------------------- */

/* VARIASI */
.variasi-kiri img{
    width: 22%;
    position: absolute;
    left: -5px;
    bottom: -360px;
}
/* .variasi-kanan img{
    width: 18%;
    position: absolute;
    right: -5px;
    top: 1500px;
} */

/* FITUR */
/* -------------------------------- */
.fitur .columns{
    margin: 0;
    margin-bottom: 150px;
}
.fitur .fitur-head{
    margin-bottom: 50px;
}
.fitur .fitur-body .columns .column h1{
    font-size: 1.80 rem;
    margin-bottom: 20px;
}
.fitur .fitur-body .columns .column p{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: "Droid Serif"; */
}
.fitur .fitur-body .columns .column .bg-fitur1{
    position: relative;
}
.fitur .fitur-body .columns .column .bg-fitur1 img:last-child{
    width: 60%;
    bottom: 70px;
    right: 130px;
    position: absolute;
    z-index: 10px;
}
.fitur .fitur-body .columns .column .bg-fitur2{
    position: relative;
}
.fitur .fitur-body .columns .column .bg-fitur2 img:last-child{
    width: 60%;
    bottom: 120px;
    right: 130px;
    position: absolute;
    z-index: 10px;
}
.fitur .fitur-body .columns .column .bg-fitur3{
    position: relative;
}
.fitur .fitur-body .columns .column .bg-fitur3 img:last-child{
    width: 60%;
    bottom: 80px;
    right: 120px;
    position: absolute;
    z-index: 10px;
}
/* -------------------------------- */

/* RESEP TEA LINUX OS */
/* -------------------------------- */
.resep-tealinux{
    background: linear-gradient(90deg, #193541ff 0%, #385b6bff 100%);
    padding: 120px 0;
}
.resep-tealinux .resep-body{
    margin: 0 124px;
}
.resep-tealinux .resep-body .card{
    border: 24px solid #e7ededff;
    border-radius: 10px;
}
.resep-tealinux .resep-body .card .card-content{
    background-color: #e7ededff;
}
.resep-tealinux .resep-head{
    margin-bottom: 40px;
}
.resep-tealinux .resep-head h1{
    color: #fff;
}
.resep-tealinux .resep-body .card .card-content .columns{
    padding-bottom: 20px;
}
.resep-tealinux .resep-body .card .card-content .columns .column{
    padding: 26px;
}
.resep-tealinux .resep-body .card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.resep-tealinux .resep-body .card .card-content .columns .column{
    padding: 24px;
}
.resep-tealinux .resep-body .card .card-content .columns .column h1{
    margin-bottom: 40px;
}   
.resep-tealinux .resep-body .card .card-content .columns .column img{
    margin-bottom: 0;
}  
.resep-tealinux .resep-body .card .card-content .columns .column .donasi-download a{
    padding: 24px;
    background-color: #2993c6ff;
    color: #e7ededff; 
    transition: .5s all ease-in-out;
}
.resep-tealinux .resep-body .card .card-content .columns .column .donasi-download a:last-child{
    background-color: #39c892ff;
    color: #e7ededff; 
    transition: .5s all ease-in-out;

}
.resep-tealinux .resep-body .card .card-content .columns .column .donasi-download a:hover{
    color: #2993c6ff; 
    border-color: #2993c6ff;
    background-color: #385b6bff;
}
.resep-tealinux .resep-body .card .card-content .columns .column .donasi-download a:last-child:hover{
    color: #39c892ff; 
    border-color: #39c892ff;
    background-color: #385b6bff;
}
.resep-tealinux .resep-body .card .card-content .columns .column ul li{
    margin: 15px 0;
}
.resep-tealinux .resep-body .card .card-content .columns .column h1{
    margin-bottom: 20px;
}
.resep-tealinux .resep-body .card .card-content .columns .column span.line{
    content: "";
    display: block;
    margin-bottom: 40px;
    width: 178px;
    height: 2px;
    background-color: #39c892ff;
}
.resep-tealinux .resep-body .card .card-content .columns .column table tr td{
    padding: 6px 0;
}
.resep-tealinux .resep-body .card .card-content .columns .column table tr td p{
    margin: 0 10px;
    font-size: 1.10rem;
}
.resep-tealinux .resep-body .card footer.card-footer .card-footer-item{
    display: flex;
    justify-content: space-between;
    margin: 0 18px;
}
.resep-tealinux .resep-body .card footer.card-footer .card-footer-item span{
    cursor: pointer;
    color: #39c892ff;
}
/* -------------------------------- */

/* FOOTER */
/* -------------------------------- */
.footer {
    padding-bottom: 48px;
    background-color: #1e3338ff;
}
.footer hr{
    background: #364548;
    height: 1px;
}
.footer p{
    color: #e7ededff;
    font-size: 1rem;
}
.footer a{
    color: #39c892ff;
}
.footer a.button{
    width: 50px;
    height: 50px;
    background-color: #39c892ff;
    color: #e7ededff;
    border: 0;
    border-radius: 50%;
}
.footer a.button:hover{
    background-color: #4fcf9eff;
}
.footer .rounded{
    border-radius: 50%;
}
/* .footer .transtale .dropdown{
    margin-bottom: 20px;
} */
/* Footer */

.footer a.button i{
    font-size: 1.25rem;
}
/* -------------------------------- */

/* CUSTOM */
/* -------------------------------- */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}
.align-items-center{
    display: flex;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

/* HALAMAN KONTRIBUSI */
/* ------------------------------------------ */
/* Berkontribusi */
/* -------------------------------- */
.kontribusi {
    margin-top: 52px;
    margin-bottom: 80px; 
}
.kontribusi-konten{
    padding: 26px 0;
    padding-top: 158px;
}
.kontribusi .kontribusi-konten h1.title{
    margin-bottom: 40px;
}
.kontribusi .kontribusi-konten p{
    margin: auto 10%;
}
.kontribusi span.line{
    content: "";
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 2px;
    background-color: #39c892ff;
}
/* -------------------------------- */

/* Devisi */
/* -------------------------------- */
.devisi{
    margin-bottom: 230px;
}
.devisi a{
    width: 250px;
    padding: 22px;
    margin: 0 5px;
    background-color: #39c892ff;
    color: #fff;
    transition: .5s all ease-in-out;
}
.devisi a:hover{
    color: #39c892ff; 
    border-color: #39c892ff;
    background-color: #385b6bff;
}
.tim-pengembang .tim-pengembang-head span.line{
    content: "";
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 2px;
    background-color: #39c892ff;
}
.tim-pengembang .tim-pengembang-head{
    margin-bottom: 50px; 
}
.tim-pengembang .tim-pengembang-body .card{
    background-color: #f9f9f9ff;
    color: #0c151eff;
    padding: 30px;
    margin-bottom: 150px; 
    border-radius: 16px; 
    -webkit-box-shadow: 0px 4px 4px 2px rgba(12, 21, 30, .2);
       -moz-box-shadow: 0px 4px 4px 2px rgba(12, 21, 30, .2);
            box-shadow: 0px 4px 4px 2px rgba(12, 21, 30, .2);

}
.tim-pengembang .tim-pengembang-body .card .title{
    color: #0c151eff;
}
.tim-pengembang .tim-pengembang-body .card{
    padding: 0;
}
.tim-pengembang .tim-pengembang-body .card .card-content{
    padding: 0;
}
.tim-pengembang .tim-pengembang-body .card .card-content .card-title{
    padding: 10px 40px;
    background-color: #39c892ff;
    border-radius: 16px; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.tim-pengembang .tim-pengembang-body .card .card-content .card-title h1{
    color: #fff;
}
.tim-pengembang .tim-pengembang-body .card .card-content .card-body{
    padding: 40px;
}
.tim-pengembang .tim-pengembang-body .card .card-content .deskripsi h1{
    margin-bottom: 12px;
}
.tim-pengembang .tim-pengembang-body .card .card-content .tugas ul{
    list-style-type: disc;
}
/* -------------------------------- */
/* Konten Panduan */
/* -------------------------------- */
.konten-panduan{
    margin-bottom: 150px;
}
.konten-panduan .konten-panduan-head{
    margin-bottom: 40px;
}
.konten-panduan .konten-panduan-head span.line{
    content: "";
    margin: 0 auto;
    display: block;
    width: 248px;
    height: 2px;
    background-color: #39c892ff;
}
.konten-panduan .konten-panduan-body{
    padding: 0 16%;
    margin-bottom: 160px;
}
.konten-panduan .konten-panduan-body p{
    margin-bottom: 24px;
}
.konten-panduan .konten-panduan-body img{
    margin-bottom: 24px;
}

/* -------------------------------- */
/* Pelaporan */
/* -------------------------------- */
.pelaporan .pelaporan-head span.line{
    content: "";
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
    width: 148px;
    height: 2px;
    background-color: #39c892ff;
}
.pelaporan .pelaporan-body .columns .column ul li{
    list-style-type: disc;
    margin-left: 18px;
    text-align: justify;
}
.pelaporan .pelaporan-body .columns .column .card .card-content h1.title{
    font-size: 1.5rem;
}
.pelaporan .pelaporan-body .columns .column ul p{
    margin-top: 20px;
}
.pelaporan .pelaporan-body .columns .column ul li ul.list-circle li{
    list-style-type: circle;
}
.pelaporan .pelaporan-body .columns .column span.line{
    content: "";
    margin: 0 auto;
    margin-bottom: 26px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.pelaporan .pelaporan-body .columns .column img{
    margin-top: 24px;
}
.pelaporan .pelaporan-body .card .title{
    color: #fff;
}
.pelaporan .pelaporan-body .card{
    background-color: #39c892ff;
    color: #fff;
    padding: 30px;
    border-radius: 16px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 18px 0 rgba(0, 0, 0, 0.19); */
}
.pelaporan .pelaporan-body .columns .column .card{
    height: 500px;
    padding: 30px;
    border-radius: 16px;
}
.pelaporan .pelaporan-body .note{
    margin-bottom: 150px;
}
.pelaporan .pelaporan-body .note h1.title{
    font-size: 1.5rem;
}
.pelaporan .pelaporan-body .note span.line{
    content: "";
    margin: 0 auto;
    margin-bottom: 26px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
/* -------------------------------- */
/* ------------------------------------------ */

/* PANDUAN */
/* ------------------------------------------ */
/* Sidebar Right */
/* .sidebar-right{
    right: 0;
    width: 250px;
    height: 100vh;
    overflow: auto;
    z-index: 10;
    position: fixed;
    padding: 26px;
    padding-top: 80px;
    background-color: #eee;
}
.sidebar-right .bd-categories .bd-category ul.bd-category-list li{
    margin: 5px 0;
    font-size: 0.85rem;
}
.sidebar-right .bd-categories .bd-category ul.bd-category-list li a{
    color: #39c892ff;
} */

/* Content */
.content-main{
    width: 900px;
    margin: 0 30% 0 20%;
    padding: 50px 16px;
}
.content .content-body{
    margin: 24px;
}
.content-main footer.content-footer{
    padding: 0 24px;
}
.content-main footer.content-footer .pagination{
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
}


/* ------------------------------------------ */

/* -------------------------------- */
/* RESPONSIVE INDEX */
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1088px) and (max-width: 1280px) {
    .navbar .navbar-menu .navbar-end a.navbar-item{
        color: #fff;
    }
    .hero .hero-body .title{
        font-size: 3rem;
    }
    .hero .hero-body .subtitle{
        font-size: 1rem;
    }
    .hero .hero-body a.button{
        font-size: 1rem;
        width: 5.5rem;
        height: 2.5rem;
        margin-top: 16px;
    }
    .resep-tealinux .resep-body{
        margin: 0 30px;
    }    
}
@media (min-width: 1025px) and (max-width: 1087px) {
    .container{
        margin: 0 24px;
    }
    .navbar .navbar-menu .navbar-end .navbar-item p{
        bottom: 14px;
    }
    .navbar .container{
        margin: 0 0;
    }
    .navbar .navbar-menu .navbar-end a.navbar-item{
        color: #fff;
    }
    .resep-tealinux .resep-body{
        margin: 0 40px;
    }
    .hero .hero-body .title{
        font-size: 3rem;
    }
    .hero .hero-body .subtitle{
        font-size: 1rem;
    }
    .hero .hero-body a.button{
        font-size: 1rem;
        width: 5.5rem;
        height: 2.5rem;
        margin-top: 16px;
    }
    #dok-page .columns .column:first-child.menu{
        display: none;
    }
    #dok-page .columns{
        justify-content: center;
    }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 769px) and (max-width: 1024px) {
    .container{
        margin: 0 30px;
    }
    .navbar .navbar-menu .navbar-end a.navbar-item{
        color: #385b6bff;
    }
    /* Hero */
    .hero .hero-body .title{
        font-size: 3rem;
    }
    .hero .hero-body .subtitle{
        font-size: 1rem;
    }
    .hero .hero-body a.button{
        font-size: 1rem;
        width: 5.5rem;
        height: 2.5rem;
        margin-top: 16px;
    }
    .variasi-kiri img{
        bottom: -270px;
    }
    /* Navbar */
    .navbar .navbar-menu .navbar-end .navbar-item p{
        bottom: 15px;
    }
    .navbar .container{
        margin: 0 0;
    }
    /* About */
    .about .about-head{
        padding: 50px 0;
    }
    .about{
        padding-bottom: 100px;
    }
    .about .about-head h1{
        margin-bottom: 30px;
    }
    /* Fitur */
    .fitur .columns{
        margin: 0;
        margin-bottom: 100px;
    }
    .fitur .fitur-head{
        margin-bottom: 30px;
    }
    .fitur .fitur-body .columns .column .bg-fitur1 img:last-child{
        bottom: 60px;
        right: 96px;
    }
    .fitur .fitur-body .columns .column .bg-fitur2 img:last-child{
        bottom: 96px;
        right: 96px;
    }
    .fitur .fitur-body .columns .column .bg-fitur3 img:last-child{
        bottom: 60px;
        right: 76px;
    }
    /* Resep */
    .resep-tealinux .resep-body{
        margin: 0 40px;
    }
    .resep-tealinux .resep-body .columns{
        display: block;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column h1{
        text-align: center;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column span.line{
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column table{
        margin: 0 12%;
        text-align: center;
    }
    /* Kontribusi */
    .kontribusi {
        margin-bottom: 50px; 
    }
    .kontribusi-konten{
        padding-top: 128px
    }
    .kontribusi .kontribusi-konten h1.title{
        margin-bottom: 40px;
    }
    /* Devisi */
    .devisi{
        margin-bottom: 130px;
    }
    /* Tim Pengembang */
    .tim-pengembang .tim-pengembang-head{
        margin-bottom: 40px; 
    }
    .tim-pengembang .tim-pengembang-body .card{
        padding: 30px;
        margin-bottom: 130px;     
    }
    .tim-pengembang .tim-pengembang-body .card{
        padding: 0;
    }
    .konten-panduan{
        margin-bottom: 130px;
    }
    .konten-panduan .konten-panduan-body .konten-panduan-deskripsi{
        padding: 0 16%;
        margin-bottom: 130px;
    }
    /* Pelaporan */
    .pelaporan .pelaporan-head span.line{
        margin-bottom: 40px;
    }
    .pelaporan .pelaporan-body .note{
        margin-bottom: 130px;
    }
    .devisi a{
        margin: 10px 5px;
    }

    #dok-page .columns .column:first-child.menu{
        display: none;
    }
    #dok-page .columns{
        justify-content: center;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 768px) {
    .container{
        margin: 0 26px;
    }
    .navbar .navbar-menu .navbar-end a.navbar-item{
        color: #385b6bff;
    }
    .navbar .navbar-menu .navbar-end .navbar-item p{
        bottom: 14px;
    }
    .hero .hero-body .title{
        font-size: 2.5rem;
    }
    .hero .hero-body .subtitle{
        font-size: 1rem;
    }
    .hero .hero-body a.button{
        font-size: 1rem;
        width: 5rem;
        height: 2.5rem;
        margin-top: 14px;
    }
    .variasi-kiri img{
        bottom: -168px;
    }
    .navbar .container{
        margin: 0 0;
    }
     /* About */
     .about .about-head{
        padding: 40px 0;
    }
    .about{
        padding-bottom: 80px;
    }
    .about .about-head h1{
        margin-bottom: 24px;
    }
    /* Fitur */
    .fitur .columns{
        margin: 0;
        margin-bottom: 80px;
    }
    .fitur .fitur-head{
        margin-bottom: 24px;
    }
    /* Resep */
    .resep-tealinux .resep-body{
        margin: 0 2%;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column h1{
        text-align: center;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column table{
        margin: 0 0;
        text-align: center;
        font-size: 0.90rem;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column table tr td p{
        font-size: 0.90rem;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column span.line{
        margin: 0 auto;
        margin-bottom: 24px;
    }
    /* Footer */
    .footer p{
        font-size: 0.90rem;
    }
    .footer a.button{
        padding: 2px 6px;
    }
    .footer a.button i{
        font-size: 0.90rem;
    }
    /* Kontribusi */
    .kontribusi {
        margin-bottom: 30px; 
    }
    .kontribusi-konten{
        padding-top: 68px;
    }
    .kontribusi span.line{
        width: 230px;
    }
    .kontribusi .kontribusi-konten h1.title{
        font-size: 1.75rem;
        margin-bottom: 30px;
    }
    .kontribusi .kontribusi-konten p{
        margin: auto 0;
    }
    /* Devisi */
    .devisi{
        margin-bottom: 100px;
    }
    .devisi a{
        margin: 10px 5px;
    }
    /* Tim Pengembang */
    .tim-pengembang .tim-pengembang-head{
        margin-bottom: 30px; 
    }
    .tim-pengembang .tim-pengembang-head h1.title{
        font-size: 1.75rem;
    }
    .tim-pengembang .tim-pengembang-head span.line{
        width: 270px;
    }
    .tim-pengembang .tim-pengembang-body .card{
        padding: 0;
        margin-bottom: 100px;     
    }
    .tim-pengembang-body .card .card-content h1.title{
        font-size: 1.5rem;
    }
    .tim-pengembang-body .card .card-content .card-body .tugas h1{
        font-size: 1.25rem;
    }
    /* Konten-panduan */
    .konten-panduan{
        margin-bottom: 100px;
    }
    .konten-panduan .konten-panduan-head h1.title{
        font-size: 1.75rem;
    }
    .konten-panduan .konten-panduan-head span.line{
        width: 225px;
    }
    .konten-panduan .konten-panduan-body{
        padding: 0 5%;
        margin-bottom: 140px;
    }
    
    /* Pelaporan */
    .pelaporan .pelaporan-head h1.title{
        font-size: 1.75rem;
    }
    .pelaporan .pelaporan-head span.line{
        width: 140px;
        margin-bottom: 30px;
    }
    .pelaporan .pelaporan-body .note{
        margin-bottom: 100px;
    }
    .pelaporan .pelaporan-body .columns .column .card{
        height: auto;
        padding: 24px;
    }  
    .pelaporan .pelaporan-body .columns .column .card .card-content ul{
        padding-left: 16px;
    }   
    #dok-page .columns .column:first-child{
        display: none;
    }
    #dok-page .columns{
        justify-content: center;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .container{
        margin: 0 3%;
    }
    .navbar .navbar-menu .navbar-end a.navbar-item{
        color: #385b6bff;
    }
    .navbar .navbar-menu .navbar-end .navbar-item p{
        bottom: 14px;
    }
    .hero .hero-body{
        text-align: center;
    }
    .hero .hero-body .title{
        font-size: 2.5rem;
    }
    .hero .hero-body .subtitle{
        font-size: 1rem;
    }
    .hero .hero-body a.button{
        font-size: 1rem;
        width: 5rem;
        height: 2.5rem;
        margin-top: 14px;
    }
    .variasi-kiri img{
        bottom: -80px;
    }
    .navbar .container{
        margin: 0 0;
    }
     /* About */
     .about .about-head{
        padding: 40px 0;
    }
    .about{
        padding-bottom: 50px;
    }
    .about .about-head h1.title{
        font-size: 1.75rem;
        margin-bottom: 20px;
    }
    .about .about-head img{
        width: 26px;
    }
    .about .about-head p{
        font-size: 0.85rem;
    }
    .about .about-body .columns .column .media .media-content h1.title{
        font-size: 1.25rem;
    }
    .about .about-body .columns .column .media .media-content p{
        font-size: 0.85rem;
    }
    /* Fitur */
    .fitur .columns{
        margin: 0;
        margin-bottom: 50px;
    }
    .fitur .fitur-head{
        margin-bottom: 20px;
    }
    .fitur .fitur-head h1.title{
        font-size: 1.75rem;
    }
    .fitur .fitur-head img{
        width: 26px;
    }
    .fitur .fitur-body .columns .column h1.title{
        font-size: 1.25rem;
    }
    .fitur .fitur-body .columns .column p{
        font-size: 0.85rem;
    }
    .fitur .fitur-body .columns .column .bg-fitur1 img:last-child{
        bottom: 32px;
        right: 50px;
    }
    .fitur .fitur-body .columns .column .bg-fitur2 img:last-child{
        bottom: 52px;
        right: 50px;
    }
    .fitur .fitur-body .columns .column .bg-fitur3 img:last-child{
        bottom: 36px;
        right: 50px;
    }
    /* Resep */
    .resep-tealinux .resep-body{
        margin: 0 0;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .resep-tealinux .resep-body .card .card-content{
        padding: 1%;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column{
        padding: 24px;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column h1{
        text-align: center;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column table{
        margin: 0 0;
        text-align: center;
        font-size: 0.65rem;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column table tr td p{
        font-size: 0.65rem;
    }
    .resep-tealinux .resep-body .card .card-content .columns .column table tr td:first-child{
        /* width: 60%; */
    }
    .resep-tealinux .resep-body .card .card-content .columns .column span.line{
        margin: 0 auto;
        margin-bottom: 24px;
    }
    /* Footer */
    .footer p{
        font-size: 0.85rem;
    }
    .footer a.button{
        padding: 2px 6px;
    }
    .footer a.button i{
        font-size: 0.85rem;
    }
    /* Kontribusi */
    .kontribusi {
        margin-bottom: 24px; 
    }
    .kontribusi span.line{
        width: 200px;
    }
    .kontribusi-konten{
        padding-top: 48px;
    }
    .kontribusi .kontribusi-konten h1.title{
        font-size: 1.25rem;
        margin-bottom: 24px;
    }
    .kontribusi .kontribusi-konten p{
        font-size: 0.85rem;
    }
    /* Devisi */
    .devisi{
        margin-bottom: 80px;
    }
    .devisi a{
        font-size: 0.85rem;
        margin: 10px 5px;
    }
    /* Tim Pengembang */
    .tim-pengembang .tim-pengembang-head{
        margin-bottom: 30px; 
    }
    .tim-pengembang .tim-pengembang-head h1.title{
        font-size: 1.25rem;
    }
    .tim-pengembang .tim-pengembang-head span.line{
        width: 180px;
    }
    .tim-pengembang .tim-pengembang-body .card{
        padding: 0;
        margin-bottom: 100px;     
    }
    .tim-pengembang .tim-pengembang-body{
        padding: 24px;
    }
    .tim-pengembang .tim-pengembang-body .card .card-content .card-body{
        padding: 24px;
    }
    .tim-pengembang-body .card .card-content h1.title{
        font-size: 1.25rem;
    }
    .tim-pengembang-body .columns .card .card-content p{
        font-size: 0.90rem;
    }
    .tim-pengembang-body .card .card-content .card-title {
        padding: 10px 24px;
    }
    .tim-pengembang-body .card .card-content .card-body .tugas h1{
        font-size: 1.20rem;
    }
    .tim-pengembang-body .card .card-content .card-body .tugas ul li{
        font-size: 0.90rem;
    }
    /* Konten-panduan */
    .konten-panduan{
        margin-bottom: 80px;
    }
    .konten-panduan .konten-panduan-head{
        margin-bottom: 30px;
    }
    .konten-panduan .konten-panduan-head h1.title{
        font-size: 1.25rem;
    }
    .konten-panduan .konten-panduan-head span.line{
        width: 150px;
        margin-bottom: 30px;
    }
    .konten-panduan .konten-panduan-body{
        padding: 0 5%;
        margin-bottom: 140px;
    }
    .konten-panduan .konten-panduan-body p{
        font-size: 0.90rem;
    }
    
    /* Pelaporan */
    .pelaporan .pelaporan-head h1.title{
        font-size: 1.25rem;
    }
    .pelaporan .pelaporan-head span.line{
        width: 100px;
        margin-bottom: 30px;
    }
    .pelaporan .pelaporan-body .note{
        margin-bottom: 100px;
    }
    .pelaporan .pelaporan-body .note .card .card-content{
        padding: 0;
    }
    .pelaporan .pelaporan-body .note .card .card-content h1.title{
        font-size: 1.15rem;
    }
    .pelaporan .pelaporan-body .note .card .card-content p{
        font-size: 0.90rem;
    }
    .pelaporan .pelaporan-body .columns .column .card{
        height: auto;
        padding: 24px;
    } 
    .pelaporan .pelaporan-body .columns .column .card .card-content{
        padding: 0;
    }
    .pelaporan .pelaporan-body .columns .column .card .card-content h1.title{
        font-size: 1.15rem;
    }    
    .pelaporan .pelaporan-body .columns .column .card .card-content ul{
        padding-left: 16px;
    }    
    .pelaporan .pelaporan-body .columns .column .card .card-content ul li{
        font-size: 0.90rem;
    } 
    #dok-page .columns .column:first-child{
        display: none;
    }
    #dok-page .columns{
        justify-content: center;
    }
}

/* Sidebar */
#sidebar{
    position: fixed;
    top: 0;
    z-index: 10;
    height: 100vh;
    width: 268px;
    margin-left: -280px;
    padding-top: 60px;
    overflow: auto;
    background-color: #e7ededff;
    transition: all 0.5s ease-out;
}
#sidebar ul li.judul-menu{
    font-size: 0.90rem;
    list-style: none; 
}
#sidebar p{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 23px;
    bottom: 14px;
    cursor: pointer;
    color: #1e3338ff;
    background-color: #fff; 
}
#sidebar ul li.judul-menu ul li{
    list-style: none; 
}

.submenu li{
    border-left: 1px solid #ddd;
}
.submenu li a{
    padding: 5px 5px 5px 15px;
}

/* Menu Dokumentasi */
/* Sidebar */
/* #doc-page .columns .column:first-child{
    overflow: auto;
} */
#menu-doc{
    position: fixed;
    width: 280px;
    height: 100vh;
    /* z-index: 10;*/
    overflow: auto;
    transition: all 0.5s ease-out;
}
#menu-doc .sidebar-menu .sidebar-submenu li a.active{
    color: #39c892ff;
}
#menu-doc ul li{
    list-style: none;
}
#menu-doc ul li.title-menu{
    font-size: 0.90rem; 
}

#content h2 {
    padding-bottom: 0.7em;
    border-bottom: 1px solid #ddd;
}
#content blockquote {
    margin: 2em 0;
    padding-left: 20px;
    border-left: 4px solid #0d9d57;
}

#dok-page {
    padding-top: 70px;
    padding-bottom: 24px;
}
#dok-page .columns .column main{
    padding-bottom: 24px;
}
#dok-page .columns .column .pagination{
    justify-content: center;
}
#dok-page .columns .column .pagination .columns{
    width: 100%; 
}
#dok-page .columns .column .pagination .columns .column:last-child{
    width: 50%;
    justify-content: flex-end;
}
#dok-page .columns .column .pagination .columns .column:first-child{
    width: 50%;
    justify-content: flex-start;
}
#dok-page .columns .column .pagination .column-next a.next{
    color: #39c892ff;
}
#dok-page .columns .column .pagination .column-prev a.previous{
    color: #39c892ff;
}
.footer-doc{
    margin-bottom: 24px;
}
.footer-doc .text{
    margin: 24px 0;
}