{{ define "header" }} {{ partial "nav.html" . }} {{ end }}

{{ define "main" }}
{{ partial "sidebar.html" . }}
<div id="dok-page" class="container">
    <div class="columns">
        <div class="column is-3 menu">
            {{ partial "menu-doc.html" . }}
        </div>
        <div class="column is-8">
            <main id="content">
                {{ $paginator := .Paginate (where .Data.Pages "Type" "panduan") }}
                {{ range $paginator.Pages }}
                    {{ .Content}}
                {{ end }}
            </main>
            <hr>
            {{ partial "pagination" . }}
            <hr>
            {{ partial "footer-doc" . }}
        </div>
    </div>
</div>
{{ end }}
{{ define "footer" }}
    {{ if or (eq .Title "Kontribusi") (eq .Title "TeaLinux OS") }}
        {{ partial "footer.html" . }} 
    {{ end }}
{{ end }}