
{{ define "header" }} {{ partial "nav.html" . }} {{ end }}

{{ define "main" }}
{{ partial "sidebar.html" . }}
</div>
<div id="dok-page" class="container">

<div class="columns">
    <div class="column is-3">
        {{ partial "menu-doc.html" . }}
    </div>

    <div class="column is-8">
        <main>
            <!-- <ul>
            Ranges through content/posts/*.md
            {{ range .Pages.ByWeight }}
                <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
            {{ end }}
            </ul> -->
            <article id="content">
                {{ .Content }}
            </article>
        </main>


        {{ partial "next-prev.html" . }}        
    </div>
</div>
</div>
{{ end }}
{{ define "footer" }} {{ partial "footer.html" . }} {{ end }}