{{ define "header" }} {{ partial "nav.html" . }} {{ end }}

{{ define "main" }}
{{ partial "sidebar.html" . }}
<div class="container">
	<br><br><br><br><br>
<div class="columns">
  <div class="column">{{ partial "menu-doc.html" . }}</div>

<div class="column is-three-quarters">
<main>
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
</main>
</div>
</div>
{{ end }}
{{ define "footer" }} {{ partial "footer.html" . }} {{ end }}