{{ define "header" }} {{ partial "nav.html" . }} {{ end }}

{{ define "main" }}
{{ partial "sidebar.html" . }}
<section id="kontribusi" class="kontribusi">
        <div class="container">
            <div class="kontribusi-konten">
                <h1 class="title has-text-centered">Berkontribusi Pada Proyek TeaLinuxOS</h1>
                <p class="has-text-centered">Jadilah bagian dari developer TeaLinuxOS untuk berkontribusi dan terlibat melakukan perubahan pada pengembangan TeaLinuxOS. Meskipun kamu bukan seorang programmer, kamu bisa berkontribusi dan membuat perubahan.</p>
            </div>
            <span class="line"></span>
        </div>
    </section>
    <section class="devisi has-text-centered">
        <div class="container">
            <a class="button is-rounded" href="#tim-pengembang">Tim Pengembangan</a>
            <a class="button is-rounded" href="#konten-panduan">Panduan</a>
            <a class="button is-rounded" href="#pelaporan">Laporan</a>
        </div>
    </section>
    <section id="tim-pengembang" class="tim-pengembang">
        <div class="container">
            <div class="tim-pengembang-head">
                <h1 class="title has-text-centered">Tim Pengembangan</h1>
                <span class="line"></span>
            </div>
            <div class="tim-pengembang-body">
                <div class="columns is-centered">
                    <div class="card column is-8">
                        <div class="card-content">
                            <div class="card-title">
                                <h1 class="title">Artwork</h1>
                            </div>
                            <div class="card-body">
                                <p class="has-text-justified">Desain tidak hanya tampilan visual (UI) untuk TeaLinuxOS namun juga cara menggnakan TeaLinuxOS (UX) dan TeaLinuxOS itu sendiri (branding). Terlibat dalam tim desain membuatmu dapat melakukan perubaan dalam TeaLinuxOS. Design TeaLinuxOS mengusung tema " simple and elegant " dimana segala pengguna dapat dengan mudah menggunakan TeaLinuxOS secara efektif, namun tetap memliki tampilan yang bagus.</p>
                                <div class="tugas">
                                    <h1>Jobdesk :</h1>
                                    <ul>
                                        <li>Menentukan tema antarmuka TeaLinuxOS (warna, font, icon dll)</li>
                                        <li>Menentukan guideline design</li>
                                        <li>Melakukan penelitian pengguna (user research)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="card column is-8">
                        <div class="card-content">
                            <div class="card-title">
                                <h1 class="title">Riset</h1>
                            </div>
                            <div class="card-body">
                                    <p class="has-text-justified">Informasi-infomasi tentang aplikasi-aplikasi maupun paket-paket terbaru yang dikumpulkan oleh tim riset menjadi kunci kualitas dari TeaLinuxOS.</p>
                                <div class="tugas">
                                    <h1>Jobdesk :</h1>
                                    <ul>
                                        <li>Membuat kuesioner pengguna</li>
                                        <li>Menentukan core TealinuxOS</li>
                                        <li>Menetukan aplikasi-aplikasi ataupun paket-paket yang akan dimasukkan dalam TeaLinuxOS</li>
                                        <li>Mengembangkan software TeaLinuxOS</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="card column is-8">
                        <div class="card-content">
                            <div class="card-title">
                                <h1 class="title">Pemaketan</h1>
                            </div>
                            <div class="card-body">
                                <p class="has-text-justified">Memadukan, mengelola, dan memelihara paket-paket yang ada pada TeaLinuxOS, baik paket impor, khas, maupun paket mentah merupakan tanggung jawab tim pemaket.</p>
                                <div class="tugas">
                                    <h1>Jobdesk :</h1>
                                    <ul>
                                        <li>Meremaster TeaLinuxOS</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="card column is-8">
                        <div class="card-content">
                            <div class="card-title">
                                <h1 class="title">Dokumentasi</h1>
                            </div>
                            <div class="card-body">
                                <p class="has-text-justified">Memadukan, mengelola, dan memelihara paket-paket yang ada pada TeaLinuxOS, baik paket impor, khas, maupun paket mentah merupakan tanggung jawab tim pemaket.</p>
                                <div class="tugas">
                                    <h1>Jobdesk :</h1>
                                    <ul>
                                        <li>Menulis dokumentasi pengguna</li>
                                        <li>Menulis dokumentasi developer</li>
                                        <li>Mengisi konten blog TeaLinuxOS</li>
                                        <li>Mendokumentasikan proses maupun hasil kerja tim lain</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="konten-panduan" class="konten-panduan">
        <div class="container">
            <div class="konten-panduan-head has-text-centered">
                <h1 class="title">Konten Panduan</h1>
                <span class="line"></span>
            </div>
            <div class="konten-panduan-body">
                <p>Dokumentasi panduan TeaLinuxOS ditulis dengan format Markdown dan di-host di github. Kontribusi baik berupa perbaikan kesalahan penulisan, pembaruan, bahkan translasi akan membuat lebih manis.</p> 
                <p>Dokumentasi disusun oleh Doscom dengan dua bahasa, yaitu Bahasa Indonesia pada url http://tealinuxos.org/panduan/ dan Bahasa Inggris pada url http://tealinuxos.org/en/panduan/.</p>
                <p> Pada bagian bawah setiap halaman panduan tersedia link yang menuju file markdown di github yang bisa diperbarui langsung melalui github.</p>
                <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.langkah1 }}" alt="langkah1">
                <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.langkah2 }}" alt="langkah2">
            </div>
        </div>
    </section>
    <section id="pelaporan" class="pelaporan">
        <div class="container">
            <div class="pelaporan-head has-text-centered">
                <h1 class="title">Pelaporan</h1>
                <span class="line"></span>
            </div>
            <div class="pelaporan-body">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-content has-text-centered">
                                <h1 class="title">Cara Melaporkan Hama</h1>
                                <span class="line"></span>
                                <ul>
                                    <li>Silahkan membuat akun Github di sini. Apabila sudah punya, bisa langsung akses halaman Lapor Hama</li>
                                    <li>Pastikan Hama belum pernah dilaporkan. (Gunakan fitur pencarian)</li>
                                    <li>Pastikan sudah menggunakan TeaLinuxOS versi terbaru</li>
                                    <li>Memberi label pada setiap Hama yang dilaporkan. (label bisa dilihat di sini)</li>
                                    <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.iconLaporhama }}" width="25%" alt="i  con-laporhama">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <h1 class="title has-text-centered">Komponen Pelaporan Hama Yang Baik</h1>
                                <span class="line"></span>
                                <ul>
                                    <li>Ringkasan (Deskripsi) Hama yang jelas</li>
                                    <li>Langkah pembuatan Hama yang jelas</li>
                                    <li>Kode error jika terdapat error</li>
                                    <p>Contoh</p>
                                    <ul>
                                        <li>Ringkasan : Saat ingin memperbarui aplikasi, Update manager gagal dibuka</li>
                                        <li>Langkah :
                                            <ul class="list-circle">
                                                <li>Klik Tea menu -> System Tools -> Update manager</li>
                                                <li>Diharapkan : Muncul tampilan update manager</li>
                                                <li>Yang muncul : Tidak muncul apa-apa</li>
                                            </ul>
                                        </li>
                                        <li>Error : Tidak terdapat error</li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="note">
                    <div class="card">
                        <div class="card-content has-text-centered">
                            <h1 class="title">Note</h1>
                            <span class="line"></span>
                            <p>Untuk usul fitur, pertanyaan dan lainnya selain Hama. Tidak harus menggunakan contoh diatas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
{{ define "footer" }} {{ partial "footer.html" . }} {{ end }}
