{{ define "header" }} {{ partial "nav.html" . }} {{ end }}


{{ define "main" }}
<div id="dok-page" class="container">
    <div class="columns">
        <div class="column is-3">
        {{ partial "menu-doc.html" . }}
    </div>

    <div class="column is-8">
        <main id="content">
        {{ .Content }}
        </main>
        <hr>
        <div class="pagination">
            {{ if or .PrevInSection .NextInSection }}
                    {{if .NextInSection}}
                        <a class="previous" href="{{.NextInSection.Permalink }}">
                            <i class="fas fa-3x fa-arrow-circle-left"></i>
                        </a>
                    {{end}}
        
                    {{if .PrevInSection}}
                        <a class="previous" href="{{ .PrevInSection.Permalink }}">
                            <i class="fas fa-3x fa-arrow-circle-right"></i>
                        </a>
                    {{end}}
            {{ end }}  
        </div>
        <hr>
    </div>
</div>
{{ end }}

{{ define "footer" }}
    {{ if or (eq .Title "Kontribusi") (eq .Title "TeaLinux OS") }}
        {{ partial "footer.html" . }} 
    {{ else }}
        {{ partial "footer-doc" . }}
    {{ end }}
{{ end }}
